<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="il.co.gabel.android.uhcarmel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NewOrderActivity"
            android:label="@string/title_activity_new_order"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.co.gabel.android.uhcarmel.ui.OrdersActivity" />
        </activity>

        <service android:name=".OrdersSubscribeService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.ShabatRegisterActivity"
            android:label="@string/title_activity_shabat_register"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.co.gabel.android.uhcarmel.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ShabatListActivity"
            android:label="@string/title_activity_shabat_list"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.co.gabel.android.uhcarmel.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.OrderListActivity"
            android:label="@string/title_activity_order_list"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.co.gabel.android.uhcarmel.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.OrderDetailActivity"
            android:label="@string/title_activity_order_detail"
            android:parentActivityName=".ui.OrderListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.co.gabel.android.uhcarmel.ui.OrderListActivity" />
        </activity>
        <activity
            android:name=".ui.PocketPDFActivity"
            android:label="@string/title_activity_pocket_pdf"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.co.gabel.android.uhcarmel.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.LocationsActivity"
            android:label="@string/title_activity_locations2"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.co.gabel.android.uhcarmel.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.OrdersActivity"
            android:label="@string/title_activity_orders"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.co.gabel.android.uhcarmel.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.OwnOrderDetailActivity"
            android:label="@string/title_activity_own_order_detail"
            android:parentActivityName=".ui.OrdersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.co.gabel.android.uhcarmel.ui.OrdersActivity" />
        </activity>
        <activity
            android:name=".ui.RedAlertActivity"
            android:label="@string/title_activity_red_alert"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="il.co.gabel.android.uhcarmel.ui.MainActivity" />
        </activity>
    </application>

</manifest>